body {
font-family:arial;
font-size:14px;
line-height:22px;
}
.container {
width:980px;
margin:0 auto;
}
h1 {
border-bottom:1px solid #ddd;
margin-bottom:20px;
}
table {
border-collapse:collapse;
border-spacing:0;
margin:20px 0;
}
table th,
table td {
padding: 2px 4px;
border:1px solid #ddd;
}
td img {
max-width:75px;
max-height:50px;
}
form {
margin:20px 0;
}
.input, .submit {
margin:10px 0;
}
.input label {
display:inline-block;
width:150px;
}
.input select,
.input input[type="text"] {
border-radius:3px;
border:1px solid #ddd;
padding: 2px 4px;
}
.submit input[type="submit"] {
margin-left:150px;
border:0;
border-radius:5px;
background-color:blue;
color:#fff;
padding: 4px;
cursor:pointer;
}
